<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"> 
        <img src="../../assets/perfil.jpg" class="img-fluid" id="foto1">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <!--<p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>-->
        <h1>LOPEZ GASTON ELIAS</h1>
        <P>Full Stack Developer Jr.</P>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí:</h1>
            <p>
                Hola Mundo!. Soy Gastón Elías López, soy Full Stack Developer
                Jr e ingeniero civil. Tengo experiencia en gestión de proyectos y coordinación de equipos con un gran valor de trabajo en equipo. Soy responsable, proactivo, comunicativo. Además me apasiona la innovación y la mejora continua en mis trabajos. Tengo conocimientos de varios idiomas: inglés, portugués y alemán. Actualmente busco un crecimiento profesional en una de las áreas que mas me gusta.  
            </p>
        </span>
    </div>
</div>