<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">  
        </div>
        <div class="redes">
            <a href="https://www.facebook.com/gaston.eliaz"><img src="../../../assets/facebook.png" id="facebook"></a>
            <a href="https://www.instagram.com/gaston.eliaz"><img src="../../../assets/instagram.png" id="instagram"></a>
            <a href="https://twitter.com/GazLz"><img src="../../../assets/twitter.png" id="twitter"></a>
            <a href="https://www.linkedin.com/in/gast%C3%B3n-l%C3%B3pez-5276b3125/"><img src="../../../assets/linkedin.png" id="linkedin"></a>
            <a href="https://github.com/ElPachangas"><img src="../../../assets/github.png" id="github"></a>
            <button type="button" class="btn btn-outline-light">INGRESAR</button> <!--(click)="login()" *ngIf="!isLogged"-->
            <button type="button" class="btn btn-outline-light">CERRAR SESION</button> <!--(click)="onLogOut()" *ngIf="isLogged"-->
        </div>
    </div>
</div>