<div class="row">
    <h1>Hard & Soft Skills:</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="90"
        [radius]="65"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        [outerStrokeColor]= "'#00008b'"
        [innerStrokeColor]="'#6495ED'"
        [animation]="true"
        [animationDuration]="700"
        [imageSrc]="'../assets/html.png'"
        [showImage]="true"
        [imageHeight]="65"
        [imageWidth]="65"
        [backgroundColor]="'#FFFFFF'"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
      [percent]="85"
      [radius]="65"
      [outerStrokeWidth]="8"
      [innerStrokeWidth]="4"
      [outerStrokeColor]= "'#00008b'"
      [innerStrokeColor]="'#6495ED'"
      [animation]="true"
      [animationDuration]="700"
      [imageSrc]="'../assets/css.png'"
      [showImage]="true"
      [imageHeight]="65"
      [imageWidth]="65"
      [backgroundColor]="'#FFFFFF'"
      ></circle-progress>
  </div>
  
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="65"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        [outerStrokeColor]= "'#00008b'"
        [innerStrokeColor]="'#6495ED'"
        [animation]="true"
        [animationDuration]="700"
        [imageSrc]="'../assets/js.png'"
        [showImage]="true"
        [imageHeight]="65"
        [imageWidth]="65"
        [backgroundColor]="'#FFFFFF'"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="65"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        [outerStrokeColor]= "'#00008b'"
        [innerStrokeColor]="'#6495ED'"
        [animation]="true"
        [animationDuration]="700"
        [imageSrc]="'../assets/git.png'"
        [showImage]="true"
        [imageHeight]="65"
        [imageWidth]="65"
        [backgroundColor]="'#FFFFFF'"
       ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="100"
        [radius]="65"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        [outerStrokeColor]= "'#00008b'"
        [innerStrokeColor]="'#6495ED'"
        [animation]="true"
        [animationDuration]="700"
        [imageSrc]="'../assets/teamwork.png'"
        [showImage]="true"
        [imageHeight]="65"
        [imageWidth]="65"
        [backgroundColor]="'#FFFFFF'"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="100"
        [radius]="65"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        [outerStrokeColor]= "'#00008b'"
        [innerStrokeColor]="'#6495ED'"
        [animation]="true"
        [animationDuration]="700"
        [imageSrc]="'../assets/comunication.png'"
        [showImage]="true"
        [imageHeight]="65"
        [imageWidth]="65"
        [backgroundColor]="'#FFFFFF'"
        ></circle-progress>
    </div>
</div>