<div class="row">
    <h1>Proyectos:</h1>
    <section class="flex-container">
                <div class="box">
                    <ul>
                        <li><h2>Portfolio</h2> - <h3>(2022)</h3></li>
                        <p>Este es mi primer proyecto como Full Stack Developer Jr., donde se puede ver la parte profesional mas relevante de mí. Y donde se puede apreciar mis primeros pasos como desarrollador.</p>            
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 img">
                    <img src="../../../assets/Proyecto.png" alt="" class="img-fluid">
                </div>
        </section>  
</div>